asgiref==3.8.1
beautifulsoup4==4.13.4
certifi==2025.1.31
channels==4.2.0
chardet==5.2.0
charset-normalizer==3.4.1
crispy-tailwind==1.0.3
Django==5.1.5
django-cors-headers==4.6.0
django-crispy-forms==2.4
django-filter==25.1
django-tailwind==4.0.1
djangorestframework==3.15.2
djangorestframework_simplejwt==5.4.0
gunicorn==23.0.0
idna==3.10
packaging==24.2
pillow==11.1.0
PyJWT==2.10.1
reportlab==4.3.1
requests==2.32.3
soupsieve==2.7
sqlparse==0.5.3
sslcommerz-lib==1.0
typing_extensions==4.14.1
tzdata==2025.1
urllib3==2.4.0
